* {
    font-family: "Lucida Console", "Courier New", monospace;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: black;
}

.navbar-inverse .navbar-nav li:first-child:hover {
    background-color: rgb(38, 150, 219);
  }
.navbar-inverse .navbar-nav li:nth-child(2):hover {
    background-color:rgb(38, 150, 219);
  }
.navbar-inverse .navbar-nav li:nth-child(3):hover {
    background-color:rgb(38, 150, 219);
  }
.navbar-inverse .navbar-nav li:nth-child(4):hover {
    background-color: rgb(38, 150, 219);
  }

#heading-jumbo {
      background-color: black;
      min-height: 20rem;
      padding-top: 5rem;
      color: white;
  }

#about-jumbo {
      background-color: black;
      min-height: 20rem;
      padding-top: 5rem;
      margin-bottom: 0;
      color: white;
  }


img {
    max-width:33rem;
    height:auto;
}

#services {
    margin: auto;
    color: black;
}

.btn-group-toggle button span {
    font-size:smaller;
}

.footer {
    background: rgb(199, 183, 183);
    padding-top: 5%;
}



@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
body {
  font-family: Open Sans, "Helvetica Neue", "Helvetica", Helvetica, Arial,   sans-serif;
  font-size: 13px;
  color: #666;
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.sectionClass {
  padding: 20px 0px 0px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}


.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}


.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101F2E;
}


.projectFactsWrap{
    display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}


#projectFacts .fullWidth{
  padding: 0;
}

.projectFactsWrap .item{
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1){
  background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2){
  background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3){
  background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4){
  background: rgb(23, 44, 66);
}

.projectFactsWrap .item p.number{
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}


.projectFactsWrap .item span{
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}


.projectFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
  color: white;
}

.projectFactsWrap .item:hover span{
  background: white;
}

@media (max-width: 786px){
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}




footer{
  z-index: 100;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
}







.trans{
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}


  .modal-header {
    background: #512DA8;
    color: floralwhite; }
    .modal-header .close {
      color: floralwhite; }
  
  .modal-body {
    background-color: #D1C4E9;
    color: black; }

    
    .btn.btn-outline-primary:hover, .bg-primary {
        background-color: black !important;
    }
    .section-medium {
        padding: 55px 0px;
    }
    .testimonial-four blockquote:hover::after, .section-arrow-primary-color.section-arrow--bottom-center:after {
        border-right-color: #0cb4ce;
    }
    .section-arrow-primary-color.section-arrow--bottom-center:after {
        background-color: #0cb4ce;
        border-right-color: #0cb4ce;
        border-bottom-color: #0cb4ce;
    }
    .section-arrow--bottom-center:after {
        z-index: 1;
        position: absolute;
        left: 50%;
        margin-left: -15px;
        content: "";
        position: absolute;
        bottom: -15px;
        width: 30px;
        height: 30px;
        border-right: 1px solid #262626;
        border-bottom: 1px solid #262626;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #262626;
    }
    .text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6 {
        color: white !important;
    }
    .section-title {
        font-size: 32px;
        font-weight: 600;
        margin-top: 0.45em;
        margin-bottom: 0.35em;
        color: #303133;
        letter-spacing: -0.02em;
    }
    .section-sub-title {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .section-arrow-primary-color.section-arrow--bottom-center:after {
        border-bottom-color: black;
    }
    .section-arrow-primary-color.section-arrow--bottom-center:after{
        background-color: rgb(27, 25, 25);
    }
    .special-heading.line span:before, .special-heading.line span:after, .footer.footer-minimal, .t-bordered {
        border-top-color: #eaeaea;
    }
    .t-bordered {
        border-top: 1px solid #eaeaea;
    }
    .section-primary {
        padding: 75px 0px;
    }
    section {
        position: relative;
    }
    
    
    
    .testimonial-two {
        padding: 20px;
        border: 2px solid #0cb4ce;
        border-radius: 2px;
    }
    
    
    .testimonial-two blockquote p:before {
        font-family: 'Playfair Display';
        font-size: 54px;
        color: #0cb4ce;
        font-weight: 900;
        left: 10px;
        color: #FFF;
        content: "“";
        font-style: normal;
        line-height: 1;
        position: absolute;
        top: 5px;
        font-size: 45px;
    }
    
    .testimonial-two blockquote p:after {
        font-family: 'Playfair Display';
        font-size: 54px;
        color: #0cb4ce;
        content: "”";
        font-size: 80px;
        font-style: normal;
        line-height: 1;
        position: absolute;
        bottom: -0.5em;
        right: 10px;
        font-weight: 900;
        transform: scaleY(-1);
        font-size: 45px;
        bottom: -5px;
    }
    
    
    .testimonial-two blockquote {
        padding: 15px 15px 15px 48px;
        position: relative;
    }
    
    .testimonial-two blockquote p:before,
    .testimonial-two blockquote p:after {
        color: #0cb4ce;
        font-weight: 900;
    }
    
    .testimonial-two blockquote p {
        font-size: inherit;
        font-weight: inherit;
    }
    
    .testimonial-two .testimonial-author p {
        color: #999;
        margin: 0 0 0 25px;
        text-align: left;
    }
    
    .testimonial-two .testimonial-author strong {
        display: block;
        padding-top: 10px;
        margin-bottom: -2px;
        font-weight: 500;
        font-size: 14px;
        color: #444;
    }
    
    .testimonial-two .testimonial-author span {
        color: #666;
        display: block;
        font-size: 12px;
    }
    
    .testimonial-two .testimonial-author .testimonial-author-thumbnail {
        float: left;
        margin-right: 15px;
        width: auto;
    }
    
    .testimonial-two .testimonial-author img {
        max-width: 55px;
    }
    
    .testimonial-two .testimonial-author {
        margin-left: 12px;
        margin-bottom: 15px;
    }
    
    
    .testimonial-two .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 0px;
    }
    
    .testimonial-two .owl-theme .owl-dots {
        text-align: left;
        margin-left: 50px;
    }
    
    .testimonial-two .owl-carousel .owl-dots .owl-dot.active span, 
    .testimonial-two .owl-carousel .owl-dots .owl-dot:hover span {
           border-color: #0cb4ce;
    }
    
    .testimonial-two .owl-carousel .owl-dots .owl-dot.active span:before, 
    .testimonial-two .owl-carousel .owl-dots .owl-dot:hover span:before {
        background-color: #0cb4ce;
    }
    
    
    
    
    .testimonial-three .testimonial-image {
        float: left;
        margin: 0 20px 0 0;
        width: 80px;
        height: 80px;
        border-radius: 100px;
        overflow: hidden;
    }
    
    .testimonial-three .testimonial-content {
        overflow: hidden;
    }
    
    .testimonial-three .testimonial-meta {
        position: relative;
        overflow: hidden;
        margin-left: 100px;
    }
    
    
    .testimonial-three .testimonial-name {
        display: block;
    }
    
    
    .testimonial-three .testimonial-three-col {
        padding-bottom: 35px;
    }
    
    .testimonial-three .testimonial-three-col {
        border-right-style: dashed;
        border-right-width: 1px;
        border-bottom-style: dashed;
        border-bottom-width: 1px;
        border-right-color: #ddd;
        border-bottom-color: #ddd;
        padding: 25px;
    }
    
    .testimonial-three .testimonial-three-col:hover {
       background-color:#f7f7f7;
    }
    
    .alternate-color .testimonial-three .testimonial-three-col:hover {
       background-color:white;
    }
    
    .testimonial-three.testimonial-three--col-two .testimonial-three-col:nth-child(2n) {
        border-right: none;
    }
    
    .testimonial-three.testimonial-three--col-two .testimonial-three-col:nth-last-child(-n+2),
    .testimonial-three.testimonial-three--col-two .testimonial-three-col:last-child {
        border-bottom: none;
    }
    
    .testimonial-three.testimonial-three--col-three .testimonial-three-col:nth-child(3n) {
        border-right: none;
    }
    
    .testimonial-three.testimonial-three--col-three .testimonial-three-col:nth-last-child(-n+3),
    .testimonial-three.testimonial-three--col-three .testimonial-three-col:nth-last-child(-n+2),
    .testimonial-three.testimonial-three--col-three .testimonial-three-col:last-child {
        border-bottom: none;
    }
    
    
    
    
    
    
    
    .testimonial-four .testimonial-author .testimonial-author-thumbnail {
       float: left;
       margin-right: 15px;
       width: auto;
    }
    
    .testimonial-four .testimonial-author img {
       max-width: 55px;
    }
    
    .testimonial-four .testimonial-author strong {
       display: block;
       padding-top: 10px;
       margin-bottom: -2px;
       font-weight: 500;
       font-size: 14px;
       color: #444;
    }
    
    .testimonial-four .testimonial-author span {
       color: #666;
       display: block;
       font-size: 12px;
    }
    
    .testimonial-four blockquote {
       padding: 30px;
       width: 100%;
       border-radius: 4px;
       position: relative;
       margin-bottom: 20px;
       padding-bottom: 25px;
       border: 2px solid #eaeaea;
    }
    
    .testimonial-four blockquote::after {
       content: "";
       border-right: 2px solid #eaeaea;
       border-bottom: 2px solid #eaeaea;
       -webkit-transform: rotate(55deg);
       -moz-transform: rotate(55deg);
       -ms-transform: rotate(55deg);
       -o-transform: rotate(55deg);
       transform: rotate(55deg);
       position: absolute;
       left: 55px;
       bottom: -12px;
       width: 15px;
       height: 21px;
       overflow: hidden;
       background: white;
    }
    
    .testimonial-four .owl-theme .owl-nav.disabled + .owl-dots {
       position: absolute;
       float: right;
       text-align: right;
       right: 3px;
       bottom: 40px;
    }
    
    .testimonial-four .testimonial-author {
       position: relative;
       overflow: hidden;
    }
    
    .testimonial-four blockquote:hover::after {
       border-right: 2px solid #0cb4ce;
       border-bottom: 2px solid #0cb4ce;
    }
    
    .testimonial-four blockquote:hover {
       border: 2px solid #0cb4ce;
    }
    
    
    
    
    
    .testimonial-five blockquote p {
        font-weight: 400;
        font-size: 14.58px;
        line-height: 1.6;
        margin-bottom:0;
    }
    
    .testimonial-five .testimonial-author .testimonial-author-thumbnail {
       float: left;
       margin-right: 15px;
       width: auto;
    }
    
    .testimonial-five .testimonial-author img {
       max-width: 55px;
    }
    
    .testimonial-five .testimonial-author strong {
       display: block;
       padding-top: 10px;
       margin-bottom: -2px;
       font-weight: 600;
       font-size: 13px; 
    }
    
    .testimonial-five .testimonial-author span {
       color: #666;
       display: block;
       font-size: 12px;
    }
    
    .testimonial-five blockquote {
       padding: 32px 41px 37px;
       width: 100%;
       border-radius: 4px;
       position: relative;
       margin-bottom: 30px; 
       border: 0px solid #eaeaea;
       background-color: #f7f7f7;
    }
    
    .testimonial-five blockquote::after {
       content: "";
       border-right: 0px solid #eaeaea;
       border-bottom: 0px solid #eaeaea;
       -webkit-transform: rotate(55deg);
       -moz-transform: rotate(55deg);
       -ms-transform: rotate(55deg);
       -o-transform: rotate(55deg);
       transform: rotate(55deg);
       position: absolute;
       left: 55px;
       bottom: -10px;
       width: 15px;
       height: 21px;
       overflow: hidden;
       background: #f7f7f7;
    }
    
    .testimonial-five.testimonial-light blockquote{
       background-color:white;
    }
    .testimonial-five.testimonial-light blockquote::after {
       background: white;
    }
    
    
    .testimonial-five .owl-theme .owl-nav.disabled + .owl-dots {
       position: absolute;
       float: right;
       text-align: right;
       right: 3px;
       bottom: 40px;
    }
    
    .testimonial-five .testimonial-author {
       position: relative;
       overflow: hidden;
    }
    
    .testimonial-five blockquote:before {
        content: "“";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 170px;
        color: rgba(189, 189, 189, 0.2);
        position: absolute;
        top: 10px;
        left: 20px;
    }
    img {
        max-width: 100%;
        height: auto;
    }

section.module.parallax {

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 { background-image: url(''); }

section.module.parallax-2 { background-image: url("/img/back1.jpg"); }

.why-us h2 {
    position: relative;
    margin-bottom: 35px;
}
.why-us h2::after, #statistics h2::after, #serve h2::after {
    content: "";
    width: 120px;
    height: 3px;
    display: inline-block;
    background: #FFC107;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    margin: 0 auto;
}



.why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
    transition: 0.5s;
    position: relative;
    background-color: #333;
    max-height: 230px;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
}
.why-us .box:hover {
	padding: 30px 30px 70px 30px;
	box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.20);
	background-color: rgba(0, 0, 0, 0.3);
}
.why-us .box img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -1;
	opacity: 0;
	transition:all ease 1s; 
}
.why-us .box:hover img {
	opacity: 1;
}
.why-us .box span {
    display: block;
    font-size: 56px;
    font-weight: 700;
    color: #6b6060;
    position: absolute;
    right: 10px;
    top: 0px;
    line-height: normal;
}
.why-us .box h4 a {
	font-size: 24px;
	font-weight: 600;
	padding: 0;
	margin: 20px 0;
	color: #dadada;
	text-decoration: none;
}
.why-us .box p {
	color: #aaaaaa;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
.why-us .box:hover span,
.why-us .box:hover h4 a,
.why-us .box:hover p {
  	color: #fff;
}

#learn-more {
    transition-timing-function: linear;
}

.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull{
  background: url("/img/back1.jpg") no-repeat center top / cover;
  
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}

 /* Style the list */
 ul.breadcrumb {
    border-radius: 0 !important;
    list-style: none;
    background-color:rgb(116, 248, 160);

  }

  #crumb-contact {
    border-radius: 0 !important;
    list-style: none;
    background-color:rgb(10, 28, 85);
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  } 

  #what-we-do{
	background:#ffffff;
    padding: 3rem 0 3rem 0;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #007b5e !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#contatti{
    background-color: #70c3be;
    letter-spacing: 2px;
    }
  #contatti a{
    color: #fff;
    text-decoration: none;
  }
  
  
  @media (max-width: 575.98px) {
  
    #contatti{padding-bottom: 800px;}
    #contatti .maps iframe{
      width: 100%;
      height: 450px;
    }
   }
  
  
  @media (min-width: 576px) {
  
     #contatti{padding-bottom: 800px;}
  
     #contatti .maps iframe{
       width: 100%;
       height: 450px;
     }
   }
  
  @media (min-width: 768px) {
  
    #contatti{padding-bottom: 350px;}
  
    #contatti .maps iframe{
      width: 100%;
      height: 850px;
    }
  }
  
  @media (min-width: 992px) {
    #contatti{padding-bottom: 200px;}
  
     #contatti .maps iframe{
       width: 100%;
       height: 700px;
     }
  }
  
  
 