
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: black;
}

.navbar-inverse .navbar-nav li:first-child:hover {
    background-color: rgb(38, 150, 219);
  }
.navbar-inverse .navbar-nav li:nth-child(2):hover {
    background-color:rgb(38, 150, 219);
  }
.navbar-inverse .navbar-nav li:nth-child(3):hover {
    background-color:rgb(38, 150, 219);
  }
.navbar-inverse .navbar-nav li:nth-child(4):hover {
    background-color: rgb(38, 150, 219);
  }

.jumbotron {
      background-color: black;
      min-height: 20rem;
      padding-top: 10rem;
      color: white;
  }

img {
    max-width:35rem;
    height:auto;
}